.modal {
    display: flex; 
    justify-content: center; /* Centrando horizontalmente */ 
    align-items: center;
    position: fixed; /* Fija el formulario en la pantalla */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el formulario */
    background-color: rgba(72, 60, 136, 0.9); /* Fondo negro con 70% de transparencia */
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
}

.modalContainer {
  position: "fixed";
  top: 0;
  left: 0;
  width: "100%";
  height: "100%";
  background-color: "rgba(0,0,0,0.5)";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  z-index: 1000;
}

