#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

*{
  box-sizing: border-box;
}

h3 {
  font-size: 18pt;
  margin: 1rem 0;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

/* Estilos globales para botones */
button {
  background-color: #f4ce14;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e1bd0f;
}